:root {
    --grid-cols: 1;
    --grid-rows: 1;
}
  
#container {
    display: grid;
    /*grid-gap: 1em;*/
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}
  
.grid-item {
    padding: 1em;
    border: 1px solid #ddd;
    text-align: center;
    background-color: yellowgreen;
    opacity: 0;
    transition: opacity 2s ease 0.4s, transform 0.8s ease;
    transform: scale(1);
}

.grid-item:hover {
    opacity: 1;
    transition: opacity 0.2s ease;
    transform: scale(1.04);
}